In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sb 
import numpy_financial as npf
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
df= pd.read_csv('downloads/ProsperLoanData.csv')
df.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,09:29.3,C,36,Completed,8/14/2009 0:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,28:07.9,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,00:47.1,HR,36,Completed,12/17/2009 0:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,02:35.0,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,38:39.1,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [4]:
df1 = df[['BorrowerRate','EstimatedReturn','ProsperRating (numeric)','ListingCategory (numeric)',' IsBorrowerHomeowner','CreditScoreRangeLower',
         'OpenCreditLines','InquiriesLast6Months','PublicRecordsLast12Months','BankcardUtilization','DebtToIncomeRatio','StatedMonthlyIncome','LoanOriginalAmount','LoanOriginationDate','LoanStatus']]

In [5]:
import datetime

In [6]:
df1['Datetime']= pd.to_datetime(df1['LoanOriginationDate'])

C:\Users\JAHANL~1\AppData\Local\Temp/ipykernel_6748/199776526.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Datetime']= pd.to_datetime(df1['LoanOriginationDate'])

In [7]:
cutoff_date ='2009-12-31'
df1= df1.loc[df1['Datetime'] >= cutoff_date]

In [8]:
df1.drop(df1.index[np.where(df1['LoanStatus'] == 'Current')], inplace=True)
df1.drop(df1.index[np.where(df1['LoanStatus'] == 'Past Due (1-15 days)')], inplace=True)
df1.drop(df1.index[np.where(df1['LoanStatus'] == 'Past Due (16-30 days)')], inplace=True)
df1.drop(df1.index[np.where(df1['LoanStatus'] == 'Past Due (61-90 days)')], inplace=True)
df1.drop(df1.index[np.where(df1['LoanStatus'] == 'Past Due (31-60 days)')], inplace=True)
df1.drop(df1.index[np.where(df1['LoanStatus'] == 'Past Due (91-120 days)')], inplace=True)
df1.drop(df1.index[np.where(df1['LoanStatus'] == 'Past Due (>120 days)')], inplace=True)
df1.drop(df1.index[np.where(df1['LoanStatus'] == 'FinalPaymentInProgress')], inplace=True)

In [10]:
label = []

for i in range(len(df1)):
    if df1.iloc[i][' IsBorrowerHomeowner'] == True :
        label.append(1)
    else:
        label.append(0)

In [11]:
df1.insert(12, 'Home', label , True)

In [12]:
df1=df1.drop([' IsBorrowerHomeowner'], axis=1)

In [13]:
labels = []

for i in range(len(df1)):
    if df1.iloc[i]['LoanStatus'] == 'Completed' :
        labels.append(1)
    else:
        labels.append(0)

In [14]:
df1.insert( 14,'LoanStat', labels, True)

In [15]:
df1=df1.drop(['LoanStatus'], axis=1)

In [16]:
df1=df1.dropna(subset=['EstimatedReturn', 'DebtToIncomeRatio', 'ProsperRating (numeric)'])

In [17]:
df1.isnull().sum()

BorrowerRate                 0
EstimatedReturn              0
ProsperRating (numeric)      0
ListingCategory (numeric)    0
CreditScoreRangeLower        0
OpenCreditLines              0
InquiriesLast6Months         0
PublicRecordsLast12Months    0
BankcardUtilization          0
DebtToIncomeRatio            0
StatedMonthlyIncome          0
Home                         0
LoanOriginalAmount           0
LoanOriginationDate          0
LoanStat                     0
Datetime                     0
dtype: int64

In [18]:
from sklearn.utils import shuffle

In [19]:
df2 = shuffle(df1)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
df2.columns

Index(['BorrowerRate', 'EstimatedReturn', 'ProsperRating (numeric)',
       'ListingCategory (numeric)', 'CreditScoreRangeLower', 'OpenCreditLines',
       'InquiriesLast6Months', 'PublicRecordsLast12Months',
       'BankcardUtilization', 'DebtToIncomeRatio', 'StatedMonthlyIncome',
       'Home', 'LoanOriginalAmount', 'LoanOriginationDate', 'LoanStat',
       'Datetime'],
      dtype='object')

In [25]:
df2.columns

Index(['BorrowerRate', 'EstimatedReturn', 'ProsperRating (numeric)',
       'ListingCategory (numeric)', 'CreditScoreRangeLower', 'OpenCreditLines',
       'InquiriesLast6Months', 'PublicRecordsLast12Months',
       'BankcardUtilization', 'DebtToIncomeRatio', 'StatedMonthlyIncome',
       'Home', 'LoanOriginalAmount', 'LoanOriginationDate', 'LoanStat',
       'Datetime'],
      dtype='object')

In [33]:
x= df2[['BorrowerRate','ProsperRating (numeric)','ListingCategory (numeric)','CreditScoreRangeLower','InquiriesLast6Months','PublicRecordsLast12Months','BankcardUtilization','DebtToIncomeRatio','StatedMonthlyIncome','Home',
      'LoanOriginalAmount','LoanStat']]

In [31]:
df1= df1.drop(['LoanOriginationDate'], axis=1)

In [28]:
df1.columns

Index(['BorrowerRate', 'EstimatedReturn', 'ProsperRating (numeric)',
       'ListingCategory (numeric)', 'CreditScoreRangeLower', 'OpenCreditLines',
       'InquiriesLast6Months', 'PublicRecordsLast12Months',
       'BankcardUtilization', 'DebtToIncomeRatio', 'StatedMonthlyIncome',
       'Home', 'LoanOriginalAmount', 'LoanOriginationDate', 'LoanStat',
       'Datetime'],
      dtype='object')

In [29]:
df1['LoanOriginationDate'].unique()

array(['4/19/2012 0:00', '4/26/2013 0:00', '2/21/2013 0:00', ...,
       '8/1/2011 0:00', '2/20/2014 0:00', '3/2/2010 0:00'], dtype=object)

In [30]:
df1['Datetime']

15       2012-04-19
23       2013-04-26
26       2013-02-21
27       2010-06-24
30       2012-02-07
            ...
113905   2011-12-05
113913   2010-05-05
113928   2011-06-10
113929   2013-07-10
113935   2011-11-21
Name: Datetime, Length: 21310, dtype: datetime64[ns]

In [34]:
x

,BorrowerRate,ProsperRating (numeric),ListingCategory (numeric),CreditScoreRangeLower,InquiriesLast6Months,PublicRecordsLast12Months,BankcardUtilization,DebtToIncomeRatio,StatedMonthlyIncome,Home,LoanOriginalAmount,LoanStat
35456,0.1990,4.0,1,680.0,0.0,0.0,0.92,0.27,11039.500000,0,6500,1
79412,0.3199,1.0,2,720.0,6.0,0.0,0.02,0.20,2500.000000,0,4000,1
102739,0.1390,6.0,7,740.0,0.0,0.0,0.34,0.19,5213.833333,0,2000,1
42455,0.1830,5.0,1,680.0,1.0,0.0,0.39,0.16,3666.666667,0,11000,1
36858,0.1499,5.0,1,820.0,0.0,0.0,0.27,0.41,7083.333333,1,3000,1
...,...,...,...,...,...,...,...,...,...,...,...,...
74505,0.1449,5.0,13,680.0,0.0,0.0,0.95,0.12,3750.000000,0,2000,1
21087,0.2599,3.0,1,740.0,4.0,0.0,0.64,0.15,5000.000000,0,6000,1
87990,0.1550,5.0,1,740.0,1.0,0.0,0.14,0.27,4250.000000,1,8500,1
106225,0.1551,6.0,1,740.0,0.0,0.0,0.64,0.21,4750.000000,1,5000,0
54373,0.3149,2.0,7,780.0,1.0,0.0,0.04,2.05,91.666667,0,4000,0

In [35]:
y=df2['EstimatedReturn']

In [36]:
y

35456     0.1196
79412     0.1267
102739    0.0905
42455     0.1280
36858     0.0782
           ...
74505     0.0731
21087     0.1317
87990     0.0925
106225    0.1115
54373     0.1439
Name: EstimatedReturn, Length: 21310, dtype: float64

In [46]:
from Sklearn.cross_validation import train_test_split

ModuleNotFoundError: No module named 'Sklearn'

In [47]:
x_train, x_test , y_train, y_test = train_test_split(x, y , train_size=.7)

In [48]:
x_train

,BorrowerRate,ProsperRating (numeric),ListingCategory (numeric),CreditScoreRangeLower,InquiriesLast6Months,PublicRecordsLast12Months,BankcardUtilization,DebtToIncomeRatio,StatedMonthlyIncome,Home,LoanOriginalAmount,LoanStat
22502,0.3099,2.0,3,640.0,1.0,0.0,0.50,0.22,4500.000000,1,4000,1
45738,0.2699,3.0,1,720.0,0.0,0.0,0.00,0.08,11666.666670,0,10000,0
47886,0.3435,2.0,1,700.0,1.0,0.0,0.67,0.24,6304.416667,1,5000,1
50954,0.2310,3.0,3,700.0,1.0,0.0,0.36,0.22,7333.333333,0,13500,1
24968,0.2899,3.0,2,660.0,0.0,0.0,0.81,0.21,6500.000000,1,8000,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6713,0.3177,1.0,1,680.0,1.0,0.0,0.94,0.24,5833.333333,1,2000,1
28410,0.2997,3.0,1,700.0,2.0,0.0,0.76,0.09,2720.000000,1,6000,0
98556,0.3199,1.0,1,660.0,1.0,0.0,0.94,0.38,2009.250000,0,3500,0
96984,0.0974,6.0,6,780.0,2.0,0.0,0.01,0.10,6708.333333,0,5500,1
11551,0.0920,6.0,1,780.0,0.0,0.0,0.32,0.23,8333.333333,1,5000,1

In [49]:
x_test

,BorrowerRate,ProsperRating (numeric),ListingCategory (numeric),CreditScoreRangeLower,InquiriesLast6Months,PublicRecordsLast12Months,BankcardUtilization,DebtToIncomeRatio,StatedMonthlyIncome,Home,LoanOriginalAmount,LoanStat
43464,0.2625,3.0,6,660.0,3.0,0.0,0.49,0.14,4000.000000,0,2000,1
18753,0.0759,7.0,3,760.0,2.0,0.0,0.03,0.03,8350.333333,1,2000,1
10571,0.2932,2.0,1,680.0,7.0,0.0,0.53,0.07,5416.666667,0,4000,1
55320,0.1621,5.0,1,740.0,1.0,0.0,0.83,0.06,21666.666670,1,15000,1
89206,0.1490,5.0,1,740.0,0.0,0.0,0.64,0.32,3500.000000,1,7500,1
...,...,...,...,...,...,...,...,...,...,...,...,...
90989,0.1900,3.0,7,720.0,7.0,0.0,0.62,0.08,11250.000000,0,1000,1
38277,0.2284,4.0,15,720.0,2.0,0.0,0.51,0.19,5583.333333,1,15000,1
83220,0.3200,1.0,1,640.0,0.0,0.0,1.04,0.06,6791.666667,0,5460,1
110950,0.3199,2.0,1,660.0,2.0,0.0,0.74,0.24,3250.000000,1,4000,1
49520,0.0920,6.0,1,760.0,1.0,0.0,0.36,0.16,7416.666667,1,5900,1

In [50]:
from sklearn.linear_model import LinearRegression

TypeError: predict() missing 1 required positional argument: 'X'

In [51]:
model1= LinearRegression().fit(x_train, y_train)

In [52]:
model1

LinearRegression()

In [139]:
pred1= model1.predict(x_test)
pred1

array([0.12756304, 0.06626573, 0.12340962, ..., 0.1275718 , 0.15290403,
       0.05455485])

In [54]:
score= model1.score(x_test, y_test)

In [56]:
print(f" Model1 Score:{score:.2f}")

 Model1 Score:0.80

In [106]:
df2.columns

Index(['BorrowerRate', 'EstimatedReturn', 'ProsperRating (numeric)',
       'ListingCategory (numeric)', 'CreditScoreRangeLower', 'OpenCreditLines',
       'InquiriesLast6Months', 'PublicRecordsLast12Months',
       'BankcardUtilization', 'DebtToIncomeRatio', 'StatedMonthlyIncome',
       'Home', 'LoanOriginalAmount', 'LoanOriginationDate', 'LoanStat',
       'Datetime'],
      dtype='object')

In [111]:
x= df2[['BorrowerRate','ProsperRating (numeric)','CreditScoreRangeLower']]

In [112]:
y2= df2['EstimatedReturn']

In [113]:
x2_train, x2_test , y2_train, y2_test = train_test_split(x2, y2 , train_size=.7)

In [114]:
model2= LinearRegression().fit(x2_train, y2_train)

In [141]:
pred2= model2.predict(x2_test)
pred2

array([0.14940432, 0.14491204, 0.14024508, ..., 0.15303508, 0.14156424,
       0.11931544])

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'

In [116]:
score= model2.score(x2_test, y2_test)

In [143]:
pred3= model3.predict(x3_test)
pred3

array([0.10941026, 0.10864416, 0.10864416, ..., 0.10557975, 0.10201299,
       0.09882299])

In [117]:
score

0.6122297441675664

In [118]:
x3= df2[['ListingCategory (numeric)','LoanOriginalAmount']]

In [119]:
x3

        ListingCategory (numeric)  LoanOriginalAmount
35456                           1                6500
79412                           2                4000
102739                          7                2000
42455                           1               11000
36858                           1                3000
...                           ...                 ...
74505                          13                2000
21087                           1                6000
87990                           1                8500
106225                          1                5000
54373                           7                4000

[21310 rows x 2 columns]

In [120]:
y3= df2['EstimatedReturn']

In [121]:
x3_train, x3_test , y3_train, y3_test = train_test_split(x3, y3 , train_size=.7)

In [122]:
model3= LinearRegression().fit(x3_train, y3_train)

In [144]:
pred3= model3.predict(x3_test)
pred3

array([0.10941026, 0.10864416, 0.10864416, ..., 0.10557975, 0.10201299,
       0.09882299])

In [123]:
score= model3.score(x3_test, y3_test)

In [124]:
score

0.009121850388337571

In [129]:
x4= df2[['Home','StatedMonthlyIncome']]

In [130]:
df2.columns

Index(['BorrowerRate', 'EstimatedReturn', 'ProsperRating (numeric)',
       'ListingCategory (numeric)', 'CreditScoreRangeLower', 'OpenCreditLines',
       'InquiriesLast6Months', 'PublicRecordsLast12Months',
       'BankcardUtilization', 'DebtToIncomeRatio', 'StatedMonthlyIncome',
       'Home', 'LoanOriginalAmount', 'LoanOriginationDate', 'LoanStat',
       'Datetime'],
      dtype='object')

In [133]:
y4=df2['EstimatedReturn']

In [150]:
x4_train, x4_test , y4_train, y4_test = train_test_split(x4, y4 , train_size=.7)

In [151]:
model4= LinearRegression().fit(x4_train, y4_train)
score= model4.score(x4_test, y4_test)

In [152]:
score

0.11135827821485533

In [153]:
pred4= model4.predict(x4_test)
pred4

array([0.09176252, 0.1072042 , 0.12220439, ..., 0.10418939, 0.10894263,
       0.1070589 ])

In [154]:
pred3= model3.predict(x3_test)
pred3

array([0.10941026, 0.10864416, 0.10864416, ..., 0.10557975, 0.10201299,
       0.09882299])

In [158]:
x5= df2[['OpenCreditLines','InquiriesLast6Months','PublicRecordsLast12Months','BankcardUtilization']]

In [147]:
df2.columns

Index(['BorrowerRate', 'EstimatedReturn', 'ProsperRating (numeric)',
       'ListingCategory (numeric)', 'CreditScoreRangeLower', 'OpenCreditLines',
       'InquiriesLast6Months', 'PublicRecordsLast12Months',
       'BankcardUtilization', 'DebtToIncomeRatio', 'StatedMonthlyIncome',
       'Home', 'LoanOriginalAmount', 'LoanOriginationDate', 'LoanStat',
       'Datetime'],
      dtype='object')

In [159]:
y5= df2['EstimatedReturn']

In [160]:
x5_train, x5_test , y5_train, y5_test = train_test_split(x5, y5 , train_size=.7)

In [161]:
model5= LinearRegression().fit(x5_train, y5_train)
score= model5.score(x5_test, y5_test)

In [162]:
score

0.09404404968193292

In [163]:
pred5= model5.predict(x5_test)
pred5

array([0.11665876, 0.1048179 , 0.10682002, ..., 0.10216993, 0.11000752,
       0.10643549])

In [165]:
pd.DataFrame(pred5).value_counts().sum()

6394

ModuleNotFoundError: No module named 'CHAID'

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement CHIAID (from versions: none)
ERROR: No matching distribution found for CHIAID

In [172]:
con_mat = confusion_matrix(y3_test, pred3)
sb.heatmap(con_mat, annot=True, annot_kws={"size": 20},cmap="summer_r", xticklabels=np.unique(df2.EstimatedReturn),
           yticklabels=np.unique(df2.EstimatedReturn))
plt.title("Confusion Matrix of the classifier")
plt.ylabel('Actual labels')
plt.xlabel('Predicted labels')
plt.show()

ValueError: continuous is not supported